<a href="https://colab.research.google.com/github/nitishainita/Python_assignments/blob/main/4_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python assignment number-4 by Nitish Kumar

## *1. What exactly is []?*

In Python [] is used to create a list howerver list can also be created using 'list' keyword.

example->a=[],Here a is list type of collection and having no value.

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

spam=[2,4,6,8,10]

In [5]:
spam=[2,4,6,8,10]
spam.insert(2,'hello')

In [6]:
spam

[2, 4, 'hello', 6, 8, 10]

if we want to assign value as third we have to  insert at index 2 because indexing of list is starts with 0.

## **Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

In [13]:
spam=['a','b','c','d']

**3. What is the value of spam[int(int('3' * 2) / 11)]?**

In [14]:
spam[int(int('3'*2)/11)]

'd'

In [15]:
int('3'*2)/11

3.0

In [16]:
'3'*2

'33'

'd' will be the final asnwer for question number 3

## 4. What is the value of spam[-1]?

In [17]:
spam[-1]

'd'

## 5. What is the value of spam[:2]?

In [18]:
spam[-2]

'c'

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [19]:
bacon=[3.14,'cat',11,'cat',True]

## 6. What is the value of bacon.index('cat')?

In [20]:
bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [21]:
bacon.append(99)

In [22]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

[3.14, 'cat', 11, 'cat', True, 99] will be the final value

## 8. How does bacon.remove('cat') change the look of the list in bacon?

In [23]:
bacon.remove('cat')

In [24]:
bacon

[3.14, 11, 'cat', True, 99]

[3.14, 11, 'cat', True, 99] will be final value . as remove fuction is used to remove fist occerence of any value by default

## 9. What are the list concatenation and list replication operators?

list concatination:adding of two list elements in one is called concatination-There are several ways to concat two lists

  let two lists as a=['Nitish'] and b=[' Kumar']

In [25]:
a=['Nitish']
b=[' Kumar']

In [27]:
#using '+' operator
a=a+b
a

['Nitish', ' Kumar']

In [33]:
# using list comprehention
a=['Nitish']
l=[i for j in[a,b] for i in j]
l

['Nitish', ' Kumar']

In [44]:
#using extend keyword
a=['Nitish']
b=['Kumar']
a.extend(b)

In [45]:
a

['Nitish', 'Kumar']

In [46]:
#using * operator
a=['Nitish']
c=[*a,*b]
c

['Nitish', 'Kumar']

**list replication operators:-**list replication means making a copy of list,there are different ways replicate a list by using different operator that is callled list replication operator.

In [47]:
#using '=' operator
a=[1,2,3,4,5,6]
b=a
b

[1, 2, 3, 4, 5, 6]

In [48]:
# using 'extend' keyword
c=[]
c.extend(a)#copy of list a

In [49]:
c

[1, 2, 3, 4, 5, 6]

In [50]:
#shallow copy method
import copy
d=copy.copy(a)
d

[1, 2, 3, 4, 5, 6]

In [52]:
#using list comprehention
e=[i for i in a]
e

[1, 2, 3, 4, 5, 6]

In [54]:
#using copy method
f=a.copy()
f

[1, 2, 3, 4, 5, 6]

In [55]:
#using Deep Copy method
g=copy.deepcopy(a)
g

[1, 2, 3, 4, 5, 6]

In [60]:
#using map function
h=map(int,a)
h=list(h)
h

[1, 2, 3, 4, 5, 6]

# 10. What is difference between the list methods append() and insert()?

In [61]:
a=[1,3,4,5,6]
b=[7,8,9,2]

append() function is used to  insert a single value in a list in the end of that list insted of returning the new list it modify the previous list.

In [62]:
a.append('99')

In [63]:
a

[1, 3, 4, 5, 6, '99']

In [64]:
a.append(b)
a

[1, 3, 4, 5, 6, '99', [7, 8, 9, 2]]

insert() function is been used for insert an element in list at any given index as

In [65]:
a.insert(1,'Nitish')
a

[1, 'Nitish', 3, 4, 5, 6, '99', [7, 8, 9, 2]]

## 11. What are the two methods for removing items from a list?

In [1]:
#one method to remove item from list is pop()
list1=[1,2,3,45,5,6,7]
list1.pop()

7

In [3]:
list1#last item has been removed

[1, 2, 3, 45, 5, 6]

In [6]:
list1.pop(2)  #it can also remove elements from any geven index

45

In [5]:
list1

[1, 2, 45, 5, 6]

remove() function is also used to remove the element fist of occuerence of specified value .

In [8]:
l=[1,2,3,4,2,6,7]

In [9]:
l.remove(2)

In [10]:
l

[1, 3, 4, 2, 6, 7]

# 12. Describe how list values and string values are identical

list and string both are sequences.In both of them slising(:) can be applied.and mamy same operation can be done on both of them as concatination etc.

## 13. What's the difference between tuples and lists?

tuple is a immutable collection where as list is s mutable collection.tuples are faster than list because of its static nature and list has dynamic nature .list can be created with [] but tuple are created with()

## 14. How do you type a tuple value that only contains the integer 42?

In [13]:
tuple1=(45)

In [14]:
tuple1

45

## 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

for list to tuple

In [15]:
#let us take list
list1=[1,23,4,5,6,7]
#list1 in form of tuple
tuple1=tuple(list1)
tuple1

(1, 23, 4, 5, 6, 7)

for tuple to list

In [16]:
tuple2=(1,2,3,4,54,8,6,7)
#tuple2 in form of list
list2=list(tuple2)
list2

[1, 2, 3, 4, 54, 8, 6, 7]

## 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

They contains the references to the list values insted of list values themself.however for string and int the variable contains string ,int repectivily .

## 17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy.copy is also known as shallow copy and it copy the reference of the original objects but copy.deepcopy is used to copy the values of object in recursive manner.